/vendor/
/composer.lock

/.phpunit.cache/
/.phpunit.result.cache
/phpstan.neon
/behat.yml

/var/

/tests/TestApplication/.env.local
/tests/TestApplication/.env.*.local
/.idea/
/.claude/settings.local.json
